@import url('https://fonts.googleapis.com/css2?family=Lacquer&family=Limelight&family=Monoton&family=Notable&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import "tailwindcss";


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-jakarta: var(--font-jakarta);
  --font-monoton: var(--font-monoton);
  --font-limelight: var(--font-limelight);
  --font-notable: var(--font-notable);
  --font-lacquer: var(--font-lacquer);
}

:root {
  --background: #171717;
  --foreground: #fef6e0;

  --font-jakarta: 'Plus Jakarta Sans', sans-serif;
  --font-monoton: 'Monoton', sans-serif;
  --font-limelight: 'Limelight', sans-serif;
  --font-notable: 'Notable', sans-serif;
  --font-lacquer: 'Lacquer', sans-serif;
}

/* * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-jakarta);
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #000;
}

::-webkit-scrollbar-thumb {
  background: #fff;
}

::-webkit-scrollbar-thumb:hover {
  background: #b3aaaa;
}

::selection {
  background-color: #ec1d23;
  color: #fff;
}

/* For Firefox compatibility */
::-moz-selection {
  background-color: #ec1d23;
  color: #fff;
}